@CHARSET "ISO-8859-1";

/*
 * Botões
 */


.but{
	
	
	
font:bold 20px "Courier New", Courier;
font-style:normal;
color:#ffffff;
background:#0d6197;
border:0px outset #4a3a00;
text-shadow:0px 6px 8px #0d0d0d;
box-shadow:-2px 6px 12px #2e2300;
-moz-box-shadow:-2px 6px 12px #2e2300;
-webkit-box-shadow:-2px 6px 12px #2e2300;
border-radius:15px 15px 15px 15px;
-moz-border-radius:15px 15px 15px 15px;
-webkit-border-radius:15px 15px 15px 15px;

cursor:pointer;
margin:0 auto;
}

#botaoAssinaIni:active{
cursor:pointer;
position:relative;
top:22px;

}



#botaoAssinaIni{
	
	position:relative;
	top:20px;
	left:10%;
	width:228px;
padding:13px 90px;
	
}

#botaoCopiaPK{
	display:none;
	position: relative;
	top: 60px;
	right:0px;
	width:228px;
padding:3px 30px;
}

#botaoCopiaPK:active{
	
	cursor:pointer;
position:relative;
top:62px;
	
}

#botaoCopiaAss{
	display:none;
	position: relative;
	top: 150px;
	right:0px;
	width:228px;
padding:3px 30px;
}

#botaoCopiaAss:active{
	
	cursor:pointer;
position:relative;
top:152px;
	
}

#botaoVerificaIni{
	
	position:relative;
	top:20px;
	left:35%;
	width:228px;
padding:13px 90px;
	
}

#botaoVerificaIni:active{
	
	cursor:pointer;
position:relative;
top:22px;
}

#botaoGeraChaves{
	display:none;
	position:relative;
	width:228px;
	left:150px;
	top:150px;
	padding:5px 50px;
	
}

#botaoGeraChaves:active{
cursor:pointer;
position:relative;
top:152px;

}

#botaoAssina{
	display:none;
	position:relative;
	width:228px;
	left:200px;
	top:150px;
	padding:5px 50px;
}

#botaoAssina:active{
	cursor:pointer;
position:relative;
top:152px;

}

#botaoVerifica{
	display:none;
	position: relative;
	top: 200px;
	left:25%;
	width:228px;
padding:3px 30px;
	
}

#botaoVerifica:active{
	
	cursor:pointer;
position:relative;
top:202px;
	
}


/*
 * textareas e files
 */

#valorCurva{
	
	display:none;
	position:relative;
	top:30px;
}

#algAss{

display:none;
position:relative;
	top:30px;
	left:50px;
}




#selArq{
display:none;
position:relative;
top:215px;
left:0px;
}

#pubKey{
	display:none;
position:relative;
top:50px;

}

#arqAss{
	display:none;
	position: relative;
	top: 160px;
	
}


#arqAssVer{
	display:none;
	position: relative;
	top: 65px;
}

#pubKeyVer{
	
	display:none;
	position: relative;
	top: 40px;
}

#selArqVer{
	display:none;
	position: relative;
	top: 90px;
}

/*
 * textos
 */

#txtSelArq{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	display:none;
	position:relative;
	top:230px;
	
	
}

#txtPubKey{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	display:none;
	position: relative;
	top:60px;
	
}

#txtCurvaAlg{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	display:none;
	position: relative;
	top:40px;
	
}

#txtAssinatura{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	display:none;
	position:relative;
	top:170px;
	
}

#txtGenKey{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	
	display:none;
	position:absolute;
	top:190px;
	left:30%;
}

#txtArqAssVer{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	display:none;
	position: relative;
	top: 100px;
}


#txtSelArqVer{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	display:none;
	position: relative;
	top: 100px;
}

#txtInsiraPK{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	display:none;
	position: relative;
	top: 50px;
}

/*
 * divs
 */

body{
	background-color: #d9e8fb;
}

#divAssina{
	/*
position:absolute;
top:50px;
left:150px;
float:left;
*/
position:relative;
float:left;
width:50%;
}

#divVerifica{
float:left;	
width:50%;
}


#titulo{
	
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 35px;
	
}
